# Build outputs
build*/
*.o
*.d
*.elf
*.wps
*.map
*.exe

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Testing/

# App state
wsu-app.ini

# Editors
.vscode/
.idea/
*.swp
.DS_Store
